.movies {
  margin-top: 2.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.3rem;
  overflow: hidden;
}

.blog-wrap {
  margin: 1.3rem 0;
  display: flex;
}

.blog-card {
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  background-color: var(--white);
  transition: all 0.3s ease;
  position: relative;
  border-radius: 0.5rem;
}

.blog-card:hover {
  transform: translateY(-1rem);
}

.blog-card:hover::after {
  height: 0.5rem;
}

.blog-card:hover .blog-img img {
  transform: scale(1.15);
}

.blog-card::after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 0px;
  left: 0;
  background-color: rgb(71, 7, 234);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.blog-img {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
}

.blog-img img {
  object-fit: cover;
  transition: all 0.5s ease;
  border-radius: 0.5rem;
  height: 27w;
}

.blog-content {
  padding: 0.5rem 1rem 1.5rem 1rem;
}
.blog-content h3 {
  flex-grow: 1;
}
.flex {
  display: flex;
  justify-content: space-around;
}
.flex .btn {
  background: var(--gray-dark);
}
.flex .btn:hover {
  border-color: var(--dark);
}

.blog-text {
  margin: 0.5rem 0 0.7rem 0;
  font-size: 1.2rem;
  line-height: 1.6;
  color: var(--dark);
}
/* ============= media for phones =================== */
@media (orientation: landscape) {
  .blog-img img {
    height: 27vw;
  }
}
@media screen and (max-width: 1313px) {
  .blog-img img {
    height: 42vw;
  }
}
@media screen and (max-width: 806px) {
  .blog-img img {
    height: 67vw;
  }
}
@media screen and (max-width: 700px) {
  .blog-wrap {
    margin: 0.5rem 0.5rem;
  }
  .movies {
    margin-top: 3.5rem;
    gap: 0.5rem;
  }
  .flex {
    padding: 0.5rem 0;
    justify-content: space-around;
  }
}
@media screen and (max-width: 533px) {
  .blog-img img {
    height: auto;
  }
}
